.container-result{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    max-height: 600px;
    overflow-y: auto;
    color: white;
    /* background-color: rgba(52, 58, 64, 0.96); */
    background-color: rgba(23, 23, 23, 0.96);
}
.container-result::-webkit-scrollbar {
    width: 8px;
}

.container-result::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.container-result::-webkit-scrollbar-thumb:hover {
    background: #888;
}
.movie-item:hover{
    background-color: rgba(52, 58, 64, 0.96);
}
.movie---name{
    font-size: 0.9em;
}
.movie-item:hover .original--name{
    color: gold;
}
.movie--detail{
    font-size: 0.8em;
    color: #bab8b8;
}